body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kumbh-sans: "Kumbh Sans";

  /* font sizes */
  --font-size-16xl-1: 35.1px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;

  /* Paddings */
  --padding-3xl: 22px;

  /* border radiuses */
  --br-23xl: 42px;
}
