.visualization-icon {
  position: absolute;
  top: 590px;
  left: 1475px;
  width: 406px;
  height: 462px;
  object-fit: cover;
}
.welcome-note-child {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-23xl);
  background-color: rgba(45, 0, 140, 0.3);
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25) inset;
  width: 406px;
  height: 127px;
}
.welcome-to {
  margin: 0;
}
.rishigpt {
  margin: 0;
  font-weight: 800;
}
.welcome-to-rishigpt-container1 {
  line-break: anywhere;
  width: 100%;
}
.welcome-to-rishigpt-container {
  position: absolute;
  top: 40px;
  left: 56px;
  display: flex;
  align-items: center;
  width: 329px;
}
.this-is-a {
  position: absolute;
  top: 158px;
  left: 28px;
  font-size: var(--font-size-5xl);
  line-height: 145.52%;
  display: inline-block;
  width: 389px;
  height: 316px;
}
.welcome-note {
  position: absolute;
  top: 40px;
  left: 1432px;
  border-radius: var(--br-23xl);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2),
    rgba(101, 34, 193, 0.79),
    rgba(255, 255, 255, 0.6)
  );
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  width: 446px;
  height: 500px;
}
.hi-human-how {
  position: relative;
  line-height: 145.52%;
  display: inline-block;
  width: 389px;
  height: 36px;
  flex-shrink: 0;
}
.chat1 {
  border-radius: var(--br-23xl);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2),
    rgba(101, 34, 193, 0.79),
    rgba(0, 0, 0, 0.6)
  );
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  width: 446px;
  height: 79px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 21px 25px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: var(--font-size-5xl);
}
.type-your-problems {
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 712px;
}
.ask-rishi,
.inputbox {
  display: flex;
  justify-content: center;
  width: 1305px;
}
.inputbox {
  border-radius: var(--br-23xl);
  background-color: var(--color-white);
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25) inset;
  height: 84px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 32px;
  box-sizing: border-box;
  align-items: flex-start;
  color: #8a8a8a;
}
.ask-rishi {
  position: relative;
  align-items: center;
}
.ask-button,
.chatbox {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-end;
}
.ask-button {
  background-color: #410062;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  width: 1305px;
  height: 103px;
  flex-shrink: 0;
  padding: 29px 0;
  align-items: center;
  text-align: center;
}
.chatbox {
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: rgba(112, 0, 255, 0.01);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(226px);
  width: 1349px;
  height: 998px;
  padding: 670px var(--padding-3xl) var(--padding-3xl);
  align-items: flex-start;
  gap: 17px;
}
.rishigpt-main-page {
  position: relative;
  background: linear-gradient(180deg, #3087ee, #7600b2);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-16xl-1);
  color: var(--color-white);
  font-family: var(--font-kumbh-sans);
}
