body {
  user-select: none;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  background: rgb(235, 96, 29);
  background: linear-gradient(
    90deg,
    rgb(244, 196, 48) 0%,
    rgb(187, 99, 12) 100%
  );
}

.all {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input {
  width: 100%;
  position: relative;
  display: flex;
  border-style: none;
  border-radius: 20px;
}



@media screen and (min-width: 480px) {
  .search input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 40vw;
    font-size: 14px;
    border-radius: 100px;
  }
  img{
    width: 35vh;
    height: 35vh;
  }
}
@media screen and (max-width: 479px) {
  .search input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    font-size: larger;
    width: 60vw;
    font-size: 14px;
    border-radius: 100px;
  }
  img{
    width: 40vw;
    height: 40vw;
  }
  .all {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}

button {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  height: 7vh;
  width: 14vh;
  margin-top: 2vh;
  font-size: large;
}
button:hover{
  background-color: rgba(210, 67, 15, 0.966);
  border: 0.005ch;
  border-style: solid;
}